@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
    display: inline-block;
}

html, body{
    /*margin: 0;
    padding: 0;*/
    /*height: 100vh;*/
    width: 100%;
}

#header{
    position: sticky;
    top:0;
    z-index:2;
}

.header {
    background-color:#ffff;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);

    /*width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;*/
}

.header_logo {
    padding:30px;
    text-align: center;

}

.header_logo a{
    display: inline-block;
    color: #000; 
    font-size: 20px;
    text-transform:uppercase;
    font-weight:700px;
    letter-spacing: 2px;
}

.header_menu {
    padding:10px 10px 0px 0px;
    text-align: center;
}

.header_menu ul li{
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

.header_menu ul li a{
    color:black;
    font-size: 17px;
    font-weight: 500;
     display: block;
     padding: 10px 0;
     position: relative;
}

/*footer*/
.site-footer
{
    /*position: sticky;*/
    bottom: 0;
    width:100%;
    background-color:#26272b;
    padding:15px 0 10px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#737373;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links li
{
  display:block
}

.footer-links a
{
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.copyright-text
{
  margin:0
}
